<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not Found</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="mainHeader">
        <nav class="mainHeaderNav">
            <ul class="mainHeaderItemList">
                <li class="mainHeaderItem"><a class="active" href="/">Shop</a></li>
                <li class="mainHeaderItem"><a href="/admin/add-product">Add product</a></li>
            </ul>
        </nav>
    </header>
    <h1>Page not Found</h1>
</body>
</html>