<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>rendering form the ejs</h1>
    <div>
        <p>This content is generated using a ejs template.</p>
        <ul>
            <% for (let item of items){ %>
            <li><%= item %></li>
            <% } %>
        </ul>
    </div>
</body>
</html>