<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    </title>
</head>

<body>
    <main>
        <div>
            <form action="/add-user" method="POST">
                <label >Enter a user Name</label>
                <input type="text" name="username">
                <button type="submit">Add User</button>
            </form>
        </div>
    </main>

</body>

</html>